################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Usage/ExcelToEntityApiUsage/.vs
/Usage/ExcelToEntityApiUsage/ExcelToEntityApiUsage/bin/Debug/net8.0
/Usage/ExcelToEntityApiUsage/ExcelToEntityApiUsage/Migrations
/NuGetPackage/SampleConsole/obj/Debug/net8.0
/NuGetPackage/SampleConsole/obj/Release/net8.0
/NuGetPackage/SampleConsole/obj
/Usage/ExcelToEntityApiUsage/ExcelToEntityApiUsage/Properties
/Usage/ExcelToEntityApiUsage/ExcelToEntityApiUsage/obj/Debug/net8.0
/Usage/ExcelToEntityApiUsage/ExcelToEntityApiUsage/obj/Release/net8.0
/Usage/ExcelToEntityApiUsage/ExcelToEntityApiUsage/obj/ExcelToEntityApiUsage.csproj.nuget.dgspec.json
/Usage/ExcelToEntityApiUsage/ExcelToEntityApiUsage/obj/ExcelToEntityApiUsage.csproj.nuget.g.props
/Usage/ExcelToEntityApiUsage/ExcelToEntityApiUsage/obj/ExcelToEntityApiUsage.csproj.nuget.g.targets
/Usage/ExcelToEntityApiUsage/ExcelToEntityApiUsage/obj/project.assets.json
/Usage/ExcelToEntityApiUsage/ExcelToEntityApiUsage/obj/project.nuget.cache
/NuGetPackage/ExcelToEntity/obj
