################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ExcelToEntity/CopilotIndices/17.14.1091.29919
/.vs/ExcelToEntity/v17
/.vs/ExcelToEntity/FileContentIndex/9f0eefca-b821-4eac-b61a-0fbbf33b09c5.vsidx
/.vs/ExcelToEntity/FileContentIndex/a2a8283e-0c92-4973-8b09-5382fd0b4c4b.vsidx
/.vs/VSWorkspaceState.json
/.vs/ExcelToEntity/FileContentIndex/005fd750-7281-40d9-8ba0-61ec86a15e69.vsidx
/.vs/slnx.sqlite
/.vs/ExcelToEntity/FileContentIndex/f4f1a328-13c5-4c7d-91c2-6eb73ef863fb.vsidx
/.vs/ExcelToEntity/FileContentIndex
/ExcelToEntity/bin
/.vs
/ExcelToEntity/obj
/ExcelToEntity/nugetOrgKeys.txt
/SampleConsole/bin
/SampleConsole/obj
