################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Usage/ExcelToEntityApiUsage/.vs
/Usage/ExcelToEntityApiUsage/ExcelToEntityApiUsage/bin/Debug/net8.0
/Usage/ExcelToEntityApiUsage/ExcelToEntityApiUsage/Migrations
/NuGetPackage/SampleConsole/obj/Debug/net8.0
/NuGetPackage/SampleConsole/obj/Release/net8.0
/NuGetPackage/SampleConsole/obj
/Usage/ExcelToEntityApiUsage/ExcelToEntityApiUsage/Properties
/Usage/ExcelToEntityApiUsage/ExcelToEntityApiUsage/obj/Debug/net8.0
/Usage/ExcelToEntityApiUsage/ExcelToEntityApiUsage/obj/Release/net8.0
/Usage/ExcelToEntityApiUsage/ExcelToEntityApiUsage/obj/ExcelToEntityApiUsage.csproj.nuget.dgspec.json
/Usage/ExcelToEntityApiUsage/ExcelToEntityApiUsage/obj/ExcelToEntityApiUsage.csproj.nuget.g.props
/Usage/ExcelToEntityApiUsage/ExcelToEntityApiUsage/obj/ExcelToEntityApiUsage.csproj.nuget.g.targets
/Usage/ExcelToEntityApiUsage/ExcelToEntityApiUsage/obj/project.assets.json
/Usage/ExcelToEntityApiUsage/ExcelToEntityApiUsage/obj/project.nuget.cache
/NuGetPackage/ExcelToEntity/obj
/NuGetPackage/.vs/ExcelToEntity
/NuGetPackage/ExcelToEntity/bin/Debug/net8.0
/NuGetPackage/ExcelToEntity/bin/Debug/ExcelToEntity.1.0.1.nupkg
/NuGetPackage/SampleConsole/bin/Debug/net8.0/ClosedXML.dll
/NuGetPackage/SampleConsole/bin/Debug/net8.0/ClosedXML.Parser.dll
/NuGetPackage/SampleConsole/bin/Debug/net8.0/DocumentFormat.OpenXml.Framework.dll
/NuGetPackage/SampleConsole/bin/Debug/net8.0/ExcelNumberFormat.dll
/NuGetPackage/SampleConsole/bin/Debug/net8.0/DocumentFormat.OpenXml.dll
/NuGetPackage/SampleConsole/bin/Debug/net8.0/ExcelToEntity.dll
/NuGetPackage/SampleConsole/bin/Debug/net8.0/ExcelToEntity.pdb
/NuGetPackage/SampleConsole/bin/Debug/net8.0/Patients.xlsx
/NuGetPackage/SampleConsole/bin/Debug/net8.0/RBush.dll
/NuGetPackage/SampleConsole/bin/Debug/net8.0/SampleConsole.pdb
/NuGetPackage/SampleConsole/bin/Debug/net8.0/SampleConsole.deps.json
/NuGetPackage/SampleConsole/bin/Debug/net8.0/SampleConsole.dll
/NuGetPackage/SampleConsole/bin/Debug/net8.0/SampleConsole.exe
/NuGetPackage/SampleConsole/bin/Debug/net8.0/SampleConsole.runtimeconfig.json
/NuGetPackage/SampleConsole/bin/Debug/net8.0/SixLabors.Fonts.dll
/NuGetPackage/SampleConsole/bin/Debug/net8.0/System.IO.Packaging.dll
